.chat-main
 .header
  .groups
   .group
    %p.group__name
     = @group.name
   .member
    %p.member__name
     Member：
     - @group.users.each do |user|
      = user.name

    
  %a(href="edit")
   .button Edit

 .chat-main-content
  .contents
   .content
   .messages
    = render @messages
    
 .chat-main-footer
  .message-form
   .new-message
    = form_for [@group, @message] do |f|
     = f.text_field :content, class: 'messagespace', placeholder: 'type a message'
     .input-box
      = f.label :image, class: 'icon-image' do
       = icon('fas', 'image')
       = f.file_field :image, class: 'image-file'
       = f.submit 'Send', class: 'button'